<div class="row">
  <div class="col-md-6 col col-sm-offset-3">
    <center><h1>不同书的故事</h1></center>
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian1.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian4.jpg" alt="Nature Portfolio" class="img-responsive"/>
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian5.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian6.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian7.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian8.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian9.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian10.jpg" alt="Nature Portfolio" class="img-responsive"  />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian11.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian12.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian14.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian15.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian17.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian19.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian20.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian21.jpg" alt="Nature Portfolio" class="img-responsive" />
  </div>
  <div class="col-md-3">
  </div>
</div>
