<div class="row">
  <div class="col-md-6 col col-sm-offset-3">
    <center><h1>徒步从广州到深圳，边走边借书</h1></center>
    <hr>
    <h3>就是拿着这块板子。</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian27.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>走累了，休息休息。</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian28.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>人多力量大！</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian29.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>花草也来帮忙</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian30.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>借大地之力，哈哈</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian31.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>休息够了，重新上路。</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian32.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>完成一天的任务，30公里</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian33.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>我买了一根拐杖，请勿担心，这一次并没有崴脚，只是经验告诉我，这样会减轻一些腿脚的压力！</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian34.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>白天。。。行走中</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian35.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>夜幕。。。行走中</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian36.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>哎，高速路上，天已经黑了，没有旅店，怎么办。。还是抓紧赶路吧</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian37.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
    <h3>看一眼路线图，加把劲，走。</h3>
    <img src="https://s3-ap-northeast-1.amazonaws.com/bainiao/bainiao/tangjian37.jpg" alt="Nature Portfolio" class="img-responsive" />
    <hr>
  </div>
</div>
