<section class="footer">
    <div class="container">
        <div class="row">
        	<div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>服务</h4>
                	<ul>
                    	<li class="line_rv"><a href="canon-printer-support.php">借书给我</a></li>
               
                        <li><a href="https://github.com/lamdba0602/readbook">向我借书</a></li>
                        <li><a href="https://github.com/lamdba0602/readbook">图书交换</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>技术支持</h4>
                	<ul>
                    	<li><a href="https://github.com/lamdba0602/readbook">网站问题：forrest</a></li>
                        <li><a href="https://github.com/lamdba0602/readbook">图书问题：唐剑</a></li>
                        <li><a href="https://github.com/lamdba0602/readbook">其他问题：forrest</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>联系我们</h4>
                	<p>Printer customer Support</p>
      			<p>tel 010-2333-5873<br>

				
                </p></div>
            </div>
        </div>
    </div>
</section>
